<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:insert="fragments :: headerfiles">

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Index</title>
</head>

<body class="bg-dark">
	<header th:insert="fragments :: nav"></header>
	<div class="container">
		<div
			class="card  text-center text-white bg-secondary mb-3 border-info mb-3  ">
			<h1 class="display-4" sec:authorize="isAuthenticated()">Muro
				Musical - SharedMusic</h1>
		</div>
	</div>
	<div class="container ">
		<img class="rounded mx-auto d-block"
			src="https://cdn.pixabay.com/photo/2015/12/09/22/09/music-1085655_960_720.png"
			alt="Card image cap" width="20%" height="20%" />
	</div>
	<br>
	<div class="container ">
		<div
			class="card text-center text-white bg-secondary mb-3 border-info mb-3">
			<h1 class="display-4" sec:authorize="!isAuthenticated()">Bienvenido
				a SHARED MUSIC</h1>
			<h1 class="display-4" sec:authorize="isAuthenticated()">
				Bienvenido: <span sec:authentication="name"></span>
				<div class="col align-self-center">
					<form sec:authorize="isAuthenticated()"
						class="form-inline my-2 my-lg-0" th:action="@{/logout}"
						method="post">
						<button class="btn btn-danger btn-block" type="submit">
							<i class="fas fa-sign-out-alt"></i> Cerrar Sesion
						</button>
					</form>

				</div>

			</h1>

			<h1 class="display-4" sec:authorize="!isAuthenticated()">
				<p class="lead">Es un gusto recibirte (selecciona una opcion)</p>
			</h1>
			<div class="form-group">
				<a th:href="@{/login}" sec:authorize="!isAuthenticated()"><button
						class="btn btn-info" type="submit">
						<i class="fas fa-sign-in-alt"></i> Iniciar Sesion
					</button></a> <a th:href=@{/usuario/mantenimiento}
					sec:authorize="!isAuthenticated()">
					<button class="btn btn btn-info">
						<i class="fas fa-user-plus"></i> Registrarse

					</button>
				</a>
			</div>
		</div>
	</div>
	<h1 class="display-4 " sec:authorize="isAuthenticated()">
		<div class="container">


			<div class="row justify-content-between">
				<div></div>
				<div class="col-8">
					<div>
						<form class="form-inline" th:action="@{/cancion/ordenar}"
							th:object="${cancion}" method="post">
							<div class="form-group mx-sm-3 mb-2">
								<select class="form-control" id="ordenarPor" name="ordenarPor">
									<option>Numero de me gusta</option>
									<option>Nombre de la cancion (A-Z)</option>
									<option>Genero (A-Z)</option>
									<option>Artista (A-Z)</option>
								</select>
							</div>
							<button type="submit" class="btn btn-info mb-2">Ordenar</button>
						</form>
					</div>

				</div>
			</div>



			<div class="card-group " th:each="cancion: ${cancion}">

				<div class="card bg-dark col-8">
					<div
						class="card-body card text-white bg-secondary mb-3 border-info mb-3 ">
						<h5 th:text="'Artista:   '+${cancion.artista} + ''"></h5>
						<h5 th:text="'Genero:   '+${cancion.genero} + ''"></h5>
						<h5 th:text="'Likes:   '+${cancion.cantidad_likes} + ''"></h5>
						<h5
							th:text="'Reproducciones:   '+${cancion.numero_reproducciones} + ''"></h5>

					</div>
				</div>



				<div class="card bg-dark col-8">
					<div
						class="card-body card text-white bg-secondary mb-3 border-info mb-3 ">
						<h5 class="card-title" th:text="${cancion.nombre}"></h5>
						<a href="#" class="btn btn-primary">Reproducir</a> <a
							th:href="@{'/cancion/like/' + ${cancion.id}}"><button
								class="btn btn-primary">
								<i class="fas fa-thumbs-up "></i>
							</button></a>
					</div>
				</div>
			</div>

		</div>
	</h1>


	<div style="margin-bottom: 60px;"></div>
	<footer th:insert="fragments :: footer"></footer>
	<div th:insert="fragments :: scripts"></div>
</body>

</html>