<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:insert="fragments :: headerfiles">

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Index</title>
</head>

<body class="bg-dark">
	<header th:insert="fragments :: nav"></header>
	<div class="container ">
		<img class="rounded mx-auto d-block"
			src="https://cdn.pixabay.com/photo/2015/12/09/22/09/music-1085655_960_720.png"
			alt="Card image cap" width="20%" height="20%" />
	</div>
	<br>
	<div class="container ">
		<div
			class="card text-center text-white bg-secondary mb-3 border-info mb-3">
			<h1 class="display-4" sec:authorize="!isAuthenticated()">Bienvenido
				a SHARED MUSIC</h1>
			<h1 class="display-4" sec:authorize="isAuthenticated()">
				Bienvenido <span sec:authentication="name"></span>
				<p class="lead">Por favor Inicie su gestion</p>
				<div class="col align-self-center">
					<form sec:authorize="isAuthenticated()"
						class="form-inline my-2 my-lg-0" th:action="@{/logout}"
						method="post">
						<button class="btn btn-info btn-block" type="submit">
							<i class="fas fa-sign-out-alt"></i> Cerrar Sesion
						</button>
					</form>

				</div>

			</h1>

			<h1 class="display-4" sec:authorize="!isAuthenticated()">
				<p class="lead">Es un gusto recibirte (selecciona una opcion)</p>
			</h1>
			<div class="form-group">
				<a th:href="@{/login}" sec:authorize="!isAuthenticated()"><button
						class="btn btn-info" type="submit">
						<i class="fas fa-sign-in-alt"></i> Iniciar Sesion
					</button></a> <a th:href=@{/usuario/mantenimiento}
					sec:authorize="!isAuthenticated()">
					<button class="btn btn btn-info">
						<i class="fas fa-user-plus"></i> Registrarse

					</button>
				</a>
			</div>
		</div>
	</div>
	<h1 class="display-4" sec:authorize="isAuthenticated()">
		<div class="container ">
			<div
				class="card text-center text-white bg-secondary mb-3 border-info mb-3">
				<h1 class="display-4" sec:authorize="isAuthenticated()">Bienvenido
					a SHARED MUSIC</h1>
				<div class="card-group">

					<div class="card">
						<div
							class="card-body card text-white bg-secondary mb-3 border-info mb-3">
							<h3 class="card-title">Likes</h3>
							<h3 class="card-title">Reproduccion</h3>
							<h3 class="card-title">Artista</h3>
							<h3 class="card-title">Genero</h3>
						</div>
					</div>

					<div class="card">
						<div
							class="card-body card text-white bg-secondary mb-3 border-info mb-3">
							<h5 class="card-title">Nombre de la cancion</h5>
							<a href="#" class="btn btn-primary">Reproducir</a>
						</div>
					</div>
				</div>


			</div>
		</div>

	</h1>

	<div style="margin-bottom: 60px;"></div>
	<footer th:insert="fragments :: footer"></footer>
	<div th:insert="fragments :: scripts"></div>
</body>

</html>